@use '$styles/core' as *;

.buttonFocus {
  @include focus-true {
    outline: 0.15em dashed var(--c5);
    outline-offset: 0.1em;
  }
  @include focus-false {
    outline: none;
  }
}

.buttonHover {
  @include not-disabled {
    &:hover {
      color: var(--clr-text-hover, var(--clr-text));
      background-color: var(--clr-bg-hover, var(--clr-bg));
    }

    &:active {
      color: var(--clr-text-active, var(--clr-text));
      background-color: var(--clr-bg-active, var(--clr-bg));
    }
  }
}

.button {
  position: relative;
  color: var(--clr-text);
  background-color: var(--clr-bg);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: $fluid-15;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  text-decoration: none;
  line-height: 1.5;
  border: none;
  @include transition('color opacity background-color');

  &[disabled] {
    opacity: 0.65;
    cursor: not-allowed;
  }

  &__blank {
    background: transparent;
    border: none;
  }

  &__text {
    --clr-text: var(--c9);
    --clr-text-active: var(--c10);
    padding: 0.2em 1em;

    &:hover {
      opacity: 0.85;
      text-decoration: underline;
    }

    &.active {
      opacity: 0.85;
      text-decoration: none;
      --clr-text: var(--c8);
      --clr-text-active: var(--c8);
    }
  }

  &__primary {
    --clr-bg: var(--c5);
    --clr-text: var(--sc0);
    --clr-bg-hover: var(--sc4);
    --clr-bg-active: var(--sc6);
  }

  &__secondary {
    --clr-bg: var(--sc1);
    --clr-text: var(--sc10);
    --clr-bg-hover: var(--sc2);
    --clr-bg-active: var(--sc3);
  }

  &__outline {
    --clr-bg: transparent;
    --clr-text: var(--c9);
    --clr-bg-hover: var(--c2);
    --clr-bg-active: var(--c3);

    &::after {
      border: 0.15em solid var(--clr-text);
      border-radius: inherit !important;
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      z-index: 1;
      @include transition('border');
    }

    @include not-disabled {
      &:hover,
      &:active {
        &::after {
          border-color: transparent;
        }
      }
    }
  }

  &__red {
    --clr-bg: var(--c-err);
    --clr-text: var(--sc1);

    &:not([disabled]) {
      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 1;
      }
    }
  }
}
