@use 'sass:string';

@mixin transition($props, $duration: 100ms, $timing: ease-in-out) {
  transition-property: string.unquote($props);
  transition-duration: $duration;
  transition-timing-function: $timing;
}

@mixin svg-size($size) {
  max-width: $size;
  max-height: $size;
  min-width: $size;
  min-height: $size;
  width: $size;
  height: $size;
}

@mixin theme($theme: dark) {
  [theme='#{$theme}'] &,
  &[theme='#{$theme}'] {
    @content;
  }

  [theme='auto'] &,
  &[theme='auto'] {
    @if ($theme == dark) {
      @media (prefers-color-scheme: dark) {
        @content;
      }
    } @else if ($theme == light) {
      @media (prefers-color-scheme: light) {
        @content;
      }
    }
  }
}

@mixin focus-true {
  &:focus,
  &:focus-visible {
    @content;
  }
}

@mixin focus-false {
  &:focus:not(:focus-visible) {
    @content;
  }
}

@mixin not-disabled {
  &:not([disabled]) {
    @content;
  }
}
