.Form {
  display: grid;
  background: clr(1);
  padding: 0.75rem 1rem 0.5rem;
}

.Preview {
  display: grid;
  overflow-y: hidden;
  overflow-x: auto;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  scroll-behavior: smooth;
  gap: 0.5rem;

  &:not(:empty) {
    margin-bottom: 0.75rem;
  }

  & > div {
    height: 10rem;
    width: 10rem;
    display: inline-block;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;

    &::after {
      content: 'Remove';
      position: absolute;
      inset: 0;
      opacity: 0;
      background: clr(err, 0.75);
      backdrop-filter: blur(2px);
      @include transition('opacity');
      cursor: pointer;
      display: grid;
      place-content: center;
    }

    &:hover::after {
      opacity: 1;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.inputContainer {
  display: flex;
  align-items: flex-end;
  gap: 0.85rem;

  textarea {
    resize: none;
  }
}

.icon {
  display: grid;
  place-content: center;
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}
