.Card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  color: clr(8);
  font-size: 1.4rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  img {
    height: 4rem;
    border-radius: 50%;
  }
}
