.Card {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: clr(9, 0.9);
  font-size: 1.4rem;
  border-radius: 1.5rem;
  padding: 0.85rem 1rem;

  &:hover,
  &:focus-visible {
    background: clr(0, 0.45);
  }

  img,
  .text {
    height: 4rem;
  }

  img {
    border-radius: 50%;
  }

  .text {
    flex: 1;
    line-height: 1;
    display: grid;
    height: 3.5rem;

    p:last-child {
      margin-top: auto;
      display: flex;
      align-items: center;
      gap: 0.75rem;
      justify-content: space-between;
    }
  }

  .message {
    flex: 1;
    font-style: italic;
    font-size: 1.3rem;
    color: clr(9, 0.75);
    height: 1em;
    overflow-y: hidden;
  }

  .time {
    text-align: right;
    width: 12ch;
    color: clr(9, 0.65);
    font-size: 1rem;

    svg {
      display: inline-block;
    }
  }
}

