.AddFriends {
  position: relative;
  z-index: 1;
}

.userListContainer {
  position: absolute;
  inset-inline: 0;
  top: 100%;
  background: clr(2);
  border-radius: 0.5rem;

  & > p {
    padding: 1rem 2rem;
    color: clr(9, 0.75);
    text-align: center;
    font-size: 1.5rem;
  }
}
