.CreateGroup {
  margin-bottom: 1.5rem;
}

.button {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  svg {
    font-size: 2rem;
  }
}

.rootDialog {
  display: grid !important;
  place-content: center;
}

.backdrop {
  background-color: clr(0, 0.85);
}

.Form {
  background-color: clr(1);
  max-width: 50rem;
  padding: fluid(2.25rem, 4rem) fluid(4rem, 8rem);
  border-radius: 1rem;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.bottom {
  display: grid;
  gap: 1rem;
}
