.Friend {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  padding: 0.75rem 1rem;

  img {
    $size: 4rem;
    width: $size;
    height: $size;
    background: red;
    border-radius: 50%;
  }
}

.bio {
  font-size: 1.5rem;
  color: var(--c9);

  p:first-child {
  }

  p:last-child {
    opacity: 0.8;
  }
}

.controls {
  margin-left: auto;

  button {
    display: block;
    font-size: 2rem;
    border-radius: 25%;
  }
}

.Group {
  h4 {
    margin-bottom: 1rem;
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
