.Contacts {
  padding: 1rem fluid(2rem, 4rem);
}

.wrapper {
  max-width: 100rem;
}

.contacts {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 4rem 3rem;

  @include min($md) {
    grid-auto-flow: column;
  }
}

.group {
  max-width: 50rem;

  h3 {
    color: var(--c7);
    margin-bottom: 1.5rem;
  }
}

.addFriends {
  margin-bottom: 2rem;

  @include max($md) {
    max-width: 50rem;
  }
}
