@use './core' as *;

html,
body,
#Root {
  scroll-behavior: smooth;
}

html {
  font-size: calc(57.5% + 0.125vw);
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--c10);
  background: var(--c0);
}

#Root {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow-x: hidden;
}

[theme] {
  color: var(--c10);
}

.swiper-pagination {
  position: static !important;
}
