@use 'sass:list';
@use 'sass:color';

$colors: #131517, #1e1f25, #212329, #606389, #4569c4, #296eff, #5f93ff, #94b7ff,
  #cadbff, #e2ebff, #f9fbff;

$colors-length: list.length($colors);
@function makeRawColor($clr) {
  $red: color.red($clr);
  $green: color.green($clr);
  $blue: color.blue($clr);
  @return #{$red, $green, $blue};
}

@mixin colors-base {
  @for $i from $colors-length to 0 {
    $index: $i - 1;
    $color: list.nth($colors, $colors-length - $i + 1);

    --c#{$index}: #{$color};
    --cs#{$index}: #{$color};
    --raw-c-#{$index}: #{makeRawColor($color)};
    --raw-cs-#{$index}: #{makeRawColor($color)};
  }
}

@mixin colors-dark {
  @for $i from 1 to $colors-length + 1 {
    $index: $i - 1;
    $color: list.nth($colors, $i);

    --c#{$index}: #{$color};
    --raw-c-#{$index}: #{makeRawColor($color)};
  }
}

:root {
  --c-err: #ee333d;
  --raw-c-err: #{makeRawColor(#ee333d)};
  color-scheme: auto;
}

:root,
[theme='light'] {
  @include colors-base;
  color-scheme: light;
}

[theme='dark'] {
  @include colors-dark;
  color-scheme: dark;
}

[theme='auto'] {
  @media (prefers-color-scheme: dark) {
    @include colors-dark;
    color-scheme: dark;
  }
}
