.loading {
  position: absolute;
  inset: 0;
  display: grid;
  align-content: center;
}

// ===========================

.loader {
  width: 0;
  height: 0.3em;
  display: inline-block;
  position: relative;
  background: currentColor;
  box-shadow: 0 0 0.75em rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  animation: animFw 8s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  width: 0.75em;
  height: 0.1em;
  background: currentColor;
  position: absolute;
  top: 0.7em;
  right: -0.2em;
  opacity: 0;
  transform: rotate(-45deg) translateX(0px);
  box-sizing: border-box;
  animation: coli1 0.3s linear infinite;
}
.loader::before {
  top: -0.3em;
  transform: rotate(45deg);
  animation: coli2 0.3s linear infinite;
}

@keyframes animFw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes coli1 {
  0% {
    transform: rotate(-45deg) translateX(0px);
    opacity: 0.7;
  }
  100% {
    transform: rotate(-45deg) translateX(-45px);
    opacity: 0;
  }
}

@keyframes coli2 {
  0% {
    transform: rotate(45deg) translateX(0px);
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translateX(-45px);
    opacity: 0.7;
  }
}
