.Dialog {
  all: unset;
  display: block;
  position: relative;
  isolation: isolate;
  user-select: text;

  &::backdrop {
    display: none;
  }

  &:modal {
    inset: 0;
    overflow-y: auto;
  }

  &[open] {
    position: fixed;
    inset: 0;
  }
}

.backdrop {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: clr(0, 0.85);
}

.main {
}

.all {
  all: inherit;
}
