.Hero {
  position: relative;
  min-height: 100vh;
  background: var(--c0);
  isolation: isolate;
}

.Img {
  position: absolute;
  opacity: 0.3;
  z-index: -1;
  overflow: hidden;
  height: 100%;
  width: 100%;

  img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: center;
  }
}
