.HeroBottom {
  bottom: 0;
  transform: translateY(33%);
  margin-top: calc(fluid(2rem, 10rem) * -1);
  width: 100%;
  z-index: -1;
  padding: fluid(1rem, 4rem) fluid(2rem, 20rem);
}

.content {
  position: relative;
  width: fit-content;
  margin-inline: auto;
  max-width: 100rem;

  img {
    border-radius: fluid(1rem, 3rem);
    box-shadow: 0 1rem 7.5rem -3rem var(--c0);
  }
}

.appScreenshot {
  position: absolute;
  padding-inline: fluid(4rem, 12rem);
  padding-top: calc(2vh - 1vw);
  inset: 0;
  transform: translateY(5%);

  img {
  }
}
