.LandingPage :global .wrapper {
  padding-inline: 3rem;
}

.heroBgImg {
  background-image: url('$assets/bg-2.webp');
}

.humburgerActive {
  transform: translateX(-100%);
  $padding: 8rem;
  width: min(min(32rem - $padding, 100vw - $padding), 100vw - $padding);
  transition: width 0.2s ease-in-out, transform 0.125s ease-in-out;
}

.humburgerInactive {
  transition-property: transform;
}

.heroH1 {
  background: linear-gradient(currentColor, #aaa);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
